@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

/* Bütün bədən üçün əsas fontu təyin etmək */
body {
    font-family: 'Montserrat', sans-serif;
}

/* Xüsusi elementlər üçün Lato fontunu təyin etmək */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}

/* Alternativ fontları da tətbiq edə bilərsiniz */
p, a, button {
    font-family: 'Montserrat', sans-serif;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family:  'Roboto', sans-serif;
}
img{
  width: 100%;
  height: 100%;
}
a{
  color: inherit;
}

.O{
  display: flex;
  justify-content: center;
  align-items: center;
}
.C{
  flex-direction: column;
}

.container{
width: 90%;
margin: auto;
}