#H_Best{
    width: 100%;
    .all-books-container {
        display: flex;
        justify-content: center; /* Məzmunu yatayda ortalayır */
        align-items: center; /* Məzmunu şaquli olaraq ortalayır */
        width: 100%;
        padding: 20px 0; /* Yuxarı və aşağıdan bir az boşluq əlavə edir */
    }
    
    .mySwiper {
        width: 100%; /* Swiper-in tam genişlikdə olmasını təmin edir */
        max-width: 1200px; /* Maksimum genişlik təyin edir ki, çox geniş ekranlarda məhdudlaşdırılsın */
    }
    
    
}